@media only screen and (min-width: 901px){

   *{
       padding: 0px;
       margin: 0px;
   }

   body{
       padding: 0px;
       margin: 0px;
       font-family: 'Roboto', sans-serif;
       background: #f2f2f2;
   }

   .site{
       
     
   }


   /*---------------------------------------------------
   GRID AND CARDS AND BOX
   ---------------------------------------------------*/
   .container{
       width: 1024px;
       transform: translateX(-50%);
       left: 50%;
       position: relative;
       margin-top: 100px;
   }


   .cardpost{
       background: #fff;
       border-radius: 3px;
       margin-bottom: 13px;
       -webkit-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       -moz-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
   }

   .cardpost-context{
       padding: 20px;
   }

   .cardpost-title{
       color: #3366cc;
       font-weight: bold;
       margin-bottom: 10px;
   } 

   .cardpost-image{
       width: 100%;
   }

   .cardpost-heade{
       display: grid;
       grid-template-columns: 40px auto 40px;
   }

   .cardpost-photo-user{
       width: 100%;
   }

   .cardpost-name-user{
       font-size: 15px;
   }

   .box{
       background: #fff;
       border-radius: 3px;
       margin-bottom: 13px;
       padding: 15px 0px;
       -webkit-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       -moz-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
   }


   /*---------------------------------------------------
   GRID 
   ---------------------------------------------------*/
   .grid{
       display: grid;
       grid-template-columns: 220px auto 240px;
   }

   .grid-left{
       padding: 10px;
       color: #c43434;
   }

   .grid-center{
       padding: 10px;
   }

   .grid-right{
       padding: 10px;
       color: #c43434;
   }

   .grid-load-more-button{
       padding: 20px;
       font-size: 17px;
       background: #3366cc;
       color: #f2f2f2;     
       width: 230px;
       border: 0 none;
       outline: 0;
       cursor: pointer;
       position: relative;
       transform: translateX(-50%);
       left: 50%;
       margin: 30px 0px; 
       border-radius: 3px;
       -webkit-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       -moz-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
   }


   /*---------------------------------------------------
   MENU
   ---------------------------------------------------*/
   .menu{
       position: fixed;
       left: 0px;
       top: 0px;
       width: 100%;
       background: #fff;
       z-index: 100;
       -webkit-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       -moz-box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
       box-shadow: 0px 0px 5px 1px rgba(212,212,212,0.5);
   }

   .menu-item{
       padding: 17px 20px;
       padding-top: 25px;
       float: left;
   }

   .menu-icon{

   }

   .menu-search{
       display: grid;
       grid-template-columns: auto 40px;
       margin-top: -10px;
   }

   .menu-input{
       width: 100%;
       box-shadow: 0 0 0 0;
       border: 0 none;
       outline: 0;
       padding: 10px 10px;
       background: #f0f0f5;
       border-radius: 7px 0px 0px 7px;
       -moz-border-radius: 7px 0px 0px 7px;
       -webkit-border-radius: 7px 0px 0px 7px;
       font-size: 15px;
   }

   .menu-input:focus{
       box-shadow: 0 0 0 0;
       border: 0 none;
       outline: 0;
   }

   .menu-input-button{
       background: #0099ff;
       color: #fff;
       padding: 10px 10px;
       box-shadow: 0 0 0 0;
       border: 0 none;
       outline: 0;
       cursor: pointer;
       border-radius: 0px 7px 7px 0px;
       -moz-border-radius: 0px 7px 7px 0px;
       -webkit-border-radius: 0px 7px 7px 0px;
   }

   .menu-input-button:hover{
       background: #007acc;
   }

   .menu-input-button:active{
       background: #0099ff;
   }

   /*---------------------------------------------------
   FRIEND
   ---------------------------------------------------*/
   .friend{
       display: grid;
       grid-template-columns: 30px auto;
       width: 100%; 
       padding: 5px 15px;
   }

   .friend-image{
       width: 100%;
       border: 1px solid #ccc;
       border-radius: 100%;
   }

   .friend-name{
       position: relative;
       transform: translateY(-50%);
       top: 50%;
       margin-left: 15px;
       font-size: 15px;
   }

   /*---------------------------------------------------
   RESOURCES  
   ---------------------------------------------------*/
   .shownotifications{
       background: #c43434;
       color: #fff;
       padding: 0px 4px;
       border-radius: 4px;
   }

   /*---------------------------------------------------
   LOGIN AND Sign Up And
   ---------------------------------------------------*/
   .login{
       width: 700px;
       background: #fff;
       transform: translate(-50%,-50%);
       position: fixed;
       left: 50%;
       top: 50%;
       z-index: 100;
   }

   .login-group{
       padding: 20px;
       display: grid;
       grid-template-columns: 50% 50%;
   }

   .login-item{
       padding: 20px;
   }

   .login-title{
       font-size: 30px;
       font-weight: bold;
       margin-bottom: 5px;
       text-align: center;
       color: #669900;
   }

   .login-title2{
       font-size: 30px;
       font-weight: bold;
       margin-bottom: 5px;
       text-align: center;
       color: #0099ff;
   }

   .login-sub-title{
       margin-bottom: 20px;
       color: #888;
       text-align: center;
       font-size: 14px;
   }

   .login-label{
       margin: 10px 0px;
       font-size: 15px;
   }
   
   .login-input{
       border: none;
       background: #f0f0f5;
       border-bottom: 1px solid #ccc;
       padding: 10px;
       box-shadow: 0 0 0 0;
       border: 0 none;
       outline: 0;
       width: 93%;
   }

   .login-button-create{
       display: block;
       margin-top: 20px;  
       padding: 16px 40px;
       box-shadow: 0 0 0 0;
       border: 0 none;
       outline: 0;
       position: relative;
       transform: translateX(-50%);
       left: 50%;
       cursor: pointer;
       background: #669900;
       color: #fff;
       border-radius: 3px;
   }

   .login-button-login{
       display: block; 
       margin-top: 20px;
       padding: 16px 40px;
       box-shadow: 0 0 0 0;
       border: 0 none;
       outline: 0;
       position: relative;
       transform: translateX(-50%);
       left: 50%;
       cursor: pointer;
       background: #0099ff;
       border-top: 1px solid #66c2ff;
       color: #fff;
       border-radius: 3px;
   }

 

}